body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  background-color: #3ab3b1;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 3;
}
.header h1 {
  margin-left: 1rem;
}
.header a {
  margin-right: 2.5rem;
  text-decoration: none;
  color: darkblue;
  transition: all 0.3s ease;
}

a:hover {
  color: rgb(225, 222, 221);
  font-weight: 800;
}
.image1 {
  width: 100%;
  height: fit-content;
}
/* CSS */
.button-48 {
  appearance: none;
  background-color: #49c21d;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
}

.button-48:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #3db411;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #49c21d;
}

.button-48 span {
  z-index: 1;
  position: relative;
}
.home,
.about,
.blog,
.contact,
.donate {
  padding: 5%;
  box-sizing: border-box;
  height: 80vh;
  width: 100vw;
  background-color: bisque;
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9rem 3%;
  box-sizing: border-box;
  height: 90vh;
  background-image: url(./components/images/larm-rmah-AEaTUnvneik-unsplash.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.outlined-text {
  font-size: 1000%;
  font-weight: bold;
  color: wheat;
  -webkit-text-stroke: 4px #141313;
  -webkit-text-fill-color: transparent;
}

.about {
  background-color: rgb(140, 78, 198);
  display: flex;
  height: auto;
}
.float,
.about-right {
  width: 45%;
}
.blog {
  display: flex;
  display: flex;
  overflow: hidden;
  background-color: rgb(137, 198, 200);
}
.contact {
  background-color: coral;
}
.donate {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 4rem;
  box-sizing: border-box;
  align-items: center;
  position: fixed;
}
.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputBox {
  align-items: center;
  display: flex;
  justify-content: center;
}

.donate form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  margin: 1rem auto;
}

.donate input,
textarea {
  width: 50%;
  padding: 0.8vh 0.8vw;
  margin: 0.4rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  box-sizing: border-box;
}

.donate textarea {
  width: 98.5%;
  resize: none;
  padding: 0.8vh 0.8vw;
  font-size: 18px;
  outline: none;
  border: none;
  box-sizing: border-box;
}
.btn-container {
  display: flex;
}
#donate-btn {
  margin-top: 2rem;
  width: 10vw;
  text-align: center;
  background-color: rgb(14, 164, 149);
  cursor: pointer;
  border: 2px solid rgb(14, 164, 149);
  transition: all 0.3s ease;
  box-sizing: border-box;
}
#donate-btn:hover {
  background-color: azure;
  color: rgb(14, 164, 149);
  box-sizing: border-box;
}
#cancel-btn {
  margin-top: 2rem;
  width: 10vw;
  text-align: center;
  background-color: rgb(241, 56, 5);
  cursor: pointer;
  border: 2px solid rgb(241, 56, 5);
}
#cancel-btn:hover {
  background-color: azure;
  color: rgb(241, 56, 5);
}

.qrPage {
  height: 100vh;
  background-color: rgb(223, 227, 234);
  /* position: fixed; */
  padding: 5% 0;
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.qrContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donation-details {
  display: flex;
}
.dd,
.ci {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  align-items: start;
}
.unsuccess {
  background-color: rgb(228, 204, 174);
  padding: 1px;
  position: fixed;
  padding: 2rem 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: self-start;
  font-weight: 700;
}
.error {
  position: fixed;
  margin: 0 auto;
}
.bill {
  height: 100vh;
  width: 100vw;
}
.bill-details {
  width: auto;
}

.bill-header {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #80e8cc;
  padding: 5rem;
  box-sizing: border-box;
}
.thank-you-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* justify-content: space-evenly; */
}
.bill-header .donation-success {
  text-align: center;
  align-items: center;
  display: flex;
  margin: 0;
}
.blog1 {
  width: 100vw;
  flex: 0 0 auto; /* Ensures each div has equal width */
  animation: slide 5s infinite ease-in-out; /* Adjust animation duration and other properties */
  border: 2px solid;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.verified {
  opacity: 0;
  animation: visible 3s ease-in-out 1;
}
.verified-logo {
  color: #3db411;
}
@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@media all and (max-width: 750px) {
  .outlined-text {
    font-size: 500%;
  }
  .header {
    height: 7vh;
  }
  .header h1 {
    font-size: 18px;
  }
  .qrPage p {
    font-size: 14px;
    margin: 0 auto;
  }
  .nav {
    display: none;
  }
  .donate form {
    width: 90vw;
  }
  .inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputBox input {
    width: 70%;
  }
  .input-box textarea {
    width: 70%;
  }
  .btn-container {
    width: 70vw;
  }
  #donate-btn,
  #cancel-btn {
    width: 40%;
    margin: 0.4rem auto;
  }
  .qrPage {
    height: auto;
    padding: 5rem 2%;
    box-sizing: border-box;
  }
  .donation-details {
    display: block;
    height: auto;
    width: 100%;
  }
  #donate-btn,
  #cancel-btn {
    margin-top: 4rem;
  }
  .dd,
  .ci {
    width: 90vw;
  }
  .dd p,
  .ci p {
    text-align: justify;
    margin-left: 0.4rem;
  }
  .bill-details h1 {
    font-size: 6vw;
  }
  .bill-header {
    padding: 2rem;
  }
  .thank-you-message {
    display: flex;
    flex-direction: column;
  }
  .thank-you-message p {
    font-size: 3vw;
  }
}
